html{
  font-size: 14px;
  font-family: 'Verdana', Arial, sans-serif !important;
}

body{
  margin: 0;
}

.dropbtn {
    background-color: #007ecd;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #007ecd;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  max-height: 25rem;
  overflow: auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

/*css for loginpage*/
/*makes sure the form & picture are centered*/
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 50%;
  align-content: center;
  flex-wrap: wrap;
  margin: 15% 25% 15% 25%;
}

.loginimg{
max-width: 75%;
}

.loginform{
  width: 40%;
}

/*creates the look for the input fields & makes thicker border if focused*/
.logininput:focus {
  border: 3px solid #555;
  padding: 10px 18px;
}

.logininput {
  width: 100% !important;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  
/*creates the look for the login button & changes color on hover*/
.loginbutton {
  width: 100%;
  background-color: #007ecd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.loginbutton:hover {
  background-color: #0067cd;
}

.success-msg,
.error-msg {
  position: sticky;
  top: 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  width: auto;
  max-width: 700px;
}
  
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

/* Table look and size */
table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}
/*  table tops colums color and size  */
table thead tr {
  background-color: rgb(0, 126, 205);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  top: 0;
}
  
/*  tabel content colums size and padding*/
table th,
table td {
  padding: 12px 15px;
  max-width: 12rem;
  overflow:hidden;
  text-overflow: ellipsis;
}

/* Table bottoms border with color */
table tbody tr {
  border-bottom: 1px solid #dddddd;
}
  
table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
/* Last border color  */
table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(0, 126, 205);
    
}
  
table tbody tr.active-row {
  font-weight: bold;
  color: rgb(0, 126, 205);
}
  
table td + td {
  border-left:1px solid #dddddd;
}

.tablebox{
  max-height: 50rem;
  margin: 25px;
  overflow: auto;
  width: min-content;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(0, 126, 205);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(0, 62, 205);
}

input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
 
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=url], select {
  width: 90%;
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=radio], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

button {
  background-color: rgb(0, 126, 205);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0067cd;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #007ecd;
  top:0px;
  width: 100%;
  height: 50px;
}

.btn {
  display: block;
  color: white;
  text-decoration: none;
  float: left;
  padding: 17px 10px 16px 10px;
}

.adminbtn{
  display: block;
  color: white;
  text-decoration: none;
  float: left;
  padding: 13px 10px 13px 10px;
  font-size: 20px;
  font-weight: bold;
}

.navbtn a:hover {
  background-color: #006dcd;
}

button[type=submit]{
  margin: 5px;
}

.Message-close {
  position: absolute;
  background-color: rgba(black, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}

.inputbox{
  background-color: #f1f1f1;
  text-align: center;
  max-width: 500px;
  margin: 25px;
  height: min-content;
}
.selectCompany{ 
  width: 90%;
  display: block;
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contentbox{
  width: 100%;
  height: min-content;
  display: inline-block;
  display: flex;
  justify-content: center;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.contentbox .tablebox{
  float: left;
}

.contentbox .inputbox{
  float: left;
}

.companybox{
  width: 100%;
  height: min-content;
  display: inline-block;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.companybox .inputbox{
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.companybox .tablebox{
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

textarea{
  width: 90%;
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 200px;
  font-size: 14px;
  font-family: 'Verdana', Arial, sans-serif !important;
}