.companyGeneral {
    text-align: center; /* Company general is the area of company information before companyOffer(the offerbox with prices) */
}
.competitionLink {
    padding: 14px 30px;
    text-decoration:solid; /* Takes away the underline in the links */
    display: flex; /*  Creates space between different divs(buttons with .companyLink next to each other) */
    margin-right: 30px; /* Rigth space edge  */
    margin-left: 20px; /* Left space edge  */
    margin-bottom: 10px;
    align-items: center; /* */
    background-color: #0a85c2; /*  Color of button  */
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 500;
    justify-content: center; /* Centrerar texten */
    outline: none;
    overflow: hidden;
    max-width: 1780px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;
    
  }
  
.companyLink { /* The link button with it's appearance */
    padding: 14px 30px;
    text-decoration:solid; /* Takes away the underline in the links */
    display: flex; /* Creates space between different divs(buttons with .companyLink next to each other) */
    margin-right: 30px; /* Rigth space edge  */
    margin-left: 20px; /* Left space edge */
    align-items: center; 
    background-color: #0a85c2; /* Color of button */
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 500;
    justify-content: center; /* centers the text */
    outline: none;
    overflow: hidden;
    max-width: 1780px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
  

.companyWebsite{ /* The area wich the link button resides with alignment of text*/
    text-align: center;
    margin-bottom: 2%;
}

.companyPage{ /* The area wich contains all information about the company above the sponsor and footer area  */

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%; 
    margin-bottom: 3%;
}




.companyInfo{ /* The displayed <p> information text about each company and its layout */
    text-align: left;
    margin: 5%;
    line-height: 1.5;
}