html,


a {  /* Inherits these values over all the page */
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box; /* Includes padding and border on all elements with width and height */
}