.competitionDropdownNav{
  position: relative;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
  background: rgb(0, 126, 205);
  width: 300px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;

  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  
  
}
.companyDropdownNav{
  position: relative;
  top: 25%;
  left: 49%;
  transform: translate(-50%, -50%);
  background: rgb(0, 126, 205);
  width: 300px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;

  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  
  
}
.dropdownButton{
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  
}
.first span{
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.first span.rotate{
  transform: rotate(-180deg);
}
.menuCompany{
  padding-left: 0px;
  position: absolute;
  background: rgb(13, 143, 224);
  list-style: none;
  top: 40px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  display: none;
  z-index: 1;
}
.firstUl{
  overflow: auto;
  height: 300px;
}
[id^=btn]:checked + .menuCompany{
  display: block;
}

.listItems{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdownButton{
  font-size: 18px;
}




.secondUl{
  position: static;
  display: block;
  
}
.secondLI{
  line-height: 10px;
  padding-left: 15px;
  border-bottom: none;
}
.placeText{
  color: #e6e6e6;
  font-size: 17px;
}
.second span{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
.second span.rotate{
  transform: rotate(-180deg);
}
.dropdownCheckbox{
  display: none;
}

