.dropbtn {
    background-color: rgb(0, 126, 205);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    justify-content: center;
  }
  
  .dropdown {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    justify-content: center;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    border-bottom: 1px solid;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(40, 162, 237);}