.companyOffer{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 1%;
    border: 5px solid #bebebe;
    margin-bottom: 8%;/* Avståndet emellan erbjudande listan och länkarna */
}
.companyOfferName{
    text-align: center;
}
.offerInformation{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #cecece;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    
}

.offerInformation:nth-child(odd) {

    background-color: rgb(180, 180, 180);

}
.offerName{
    flex: 1 1 auto;

}
.offerPrice{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}