.logo { /* Loggan på handelsmässan */


    max-width: 100%;
    width: auto;
    max-height: 100px;
    display: block;
    margin: 0 auto;
   
}


.map { /* Bilden på kartan över lokalen */
    border-width: 2px; /* Bredden på kantenlinjen */
    border-color:#404040 ;
    border-style: solid;
    align-items: center;
    display: block;
    width: 100%; /* Anger 100 % bredd efter skärmstorlek på logon */
    height: 100%; /* Anger 100 % bredd efter skärmstorlek på logon */
    box-sizing: border-box;

}
  
  
body {
    background-color: rgb(255, 255, 255); /* Bakgrundsfärg*/
    max-width: 100%; /* Anger max bredden på innehållet i sidan */
    margin:  auto;
    font-family: 'Verdana', Arial, sans-serif !important;
}
    
    
.smalbutton {
    font-weight: 700; /* Bestämmer hur tjock texten är */
    font-size: 0.9375rem; /* Anger storleken på texten */
    align-self: center;
    align-content: center;
    align-items: center;
    padding: 12px 33px;
    color: #ffffff !important; /* Textens färg i knappen */
    background-color: #478ac9 !important; /* Knappens färg */
    
}
  
  
h1 {
	
    text-align: center;
    font-size: 2em;
    box-sizing: border-box;

    font-weight: 400; /* Tjocklek på texten */
 

}
h2 {

    font-size: 1.2em;
    box-sizing: border-box;
    font-weight: 400; /* Tjockleken på txten */
    
    
}

p {
    font-size: 1em; /* 1 em = 16 px, default på en webbläsare */
}
/* ALL CSS KOD NEDANFÖR ÄR FÖR BURGER MENYN */

.sponsorImage {
    max-width: 70%;
    margin:auto;
    display:block;
    padding: 40px;
   
    
}
.companyImage {
	width: 60%;
    max-width: 350px;
    padding: 30px; 
    margin:auto;
    display:block;
}

#sponsor {
  background-color:rgba(46,204,113);
}



.backbutton {                         /* Tillbaka knappen */
    color: #ffffff !important;
    background-color: #db545a !important;
    pointer-events: auto;

    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 44px auto 60px;
    padding: 18px 49px;
    display: block;
    border-bottom: none;
    text-align: center;
    box-sizing: border-box;
    max-width: 50%;
}

.btn {                            /* Stora knapparna (tävlingsknappar) */
    pointer-events: auto;
    pointer-events: initial;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0;
    padding: 22px 50px 22px 50px;
    color: #ffffff !important;
    background-color: #4EA21D !important;
    display: block;
    width: 65%;
    border-bottom: none;
    text-align: center;
}

.footer { /* Bottendelen pÃ¥ varje sida  */
   position: relative;
    padding: 1rem;
    background-color: rgb(64, 59, 59);
    color: white;
    text-align: center;
    bottom: 0;
   
}

.textbox {                  /* text ruta till tävlingssidan */
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
	display: block;
	max-width: 100%;

}

.openHours{
    text-align: center;
    
}


.iframecss {
	width: 80%;
	height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.mainMenu{
	height: 178px;

}
#sponsor{
    background: 	rgb(0, 126, 205);
    padding: 5px;


}
.openDate{
    text-align: center;
    
}

