.logo { /* Loggan på handelsmässan */


    max-width: 100%;
    width: auto;
    max-height: 100px;

    display: block;
    margin: 0 auto;
   
}


.map { /* Bilden på kartan över lokalen */
    border-width: 2px; /* Bredden på kantenlinjen */
    border-color:#404040 ;
    border-style: solid;
    align-items: center;
    display: block;
    width: 100%; /* Anger 100 % bredd efter skärmstorlek på logon */
    height: 100%; /* Anger 100 % bredd efter skärmstorlek på logon */
    box-sizing: border-box;

}
  
  
body {
    background-color: rgb(255, 255, 255); /* Bakgrundsfärg*/
    max-width: 100%; /* Anger max bredden på innehållet i sidan */
    margin:  auto;
    font-family: 'Times New Roman';
}
    
    
.smalbutton {
    font-weight: 700; /* Bestämmer hur tjock texten är */
    font-size: 0.9375rem; /* Anger storleken på texten */
    align-self: center;
    align-content: center;
    align-items: center;
    padding: 12px 33px;
    color: #ffffff !important; /* Textens färg i knappen */
    background-color: #478ac9 !important; /* Knappens färg */
    
}
  
  
h1 {
	
    text-align: center;
    font-size: 2em;
    box-sizing: border-box;

    font-weight: 400; /* Tjocklek på texten */
 

}
h2 {

    font-size: 1.2em;
    box-sizing: border-box;
    font-weight: 400; /* Tjockleken på txten */
    
    
}

p {
    font-size: 1.2em; /* 1 em = 16 px, default på en webbläsare */

}
/* ALL CSS KOD NEDANFÖR ÄR FÖR BURGER MENYN */

.sponsorImage {
    max-width: 70%;
    margin:auto;
    display:block;
    padding: 40px;
   
    
}
.companyImage {
	width: 50%;
    max-width: 350px;
    padding: 5px 30px; 
    margin:auto;
    display:block;
}

#sponsor {
  background-color:rgba(46,204,113);
}

/*--------------------------------------
 Animationstid som bestämmer före och efter hur lång tid den varar 
--------------------------------------*/
*,
*:before,
*:after {
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------
 Hamburgerikonen med dess animation. Använder den markerade egenskapen för en kryssruta
  för att få animeringen att hända samt kontrollera nästa element
-----------------------------------------------------------------------------------*/
.burger-check {
		display: none; /* Döljer checkboxen */
        
}


/*--------------------------------------
Gör så att man kann trycka fram och tillbaka med knappen.
--------------------------------------*/
.burger{
	
		max-width: 100%; /* Anger bredden hur långt ifrån knappen man kan trycka, var man trycker  */
		height: 60px;
		cursor: pointer;
        display: flex;
        justify-content: center;
        
}

.burger:after {
		bottom: 7px;
		max-width: 100%;
		font-size: 13px;
        display: flex;
        justify-content: center;
}

/*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/
.burger span,
.burger span:before,
.burger span:after {
		position: absolute; /* Gör så att knappen fastnar på samma ställe i skärmen. */
		top: 25px;
		width: 40px; /* Bredden på knapp ikonen */
		height: 4px; /* Anger tjockleken på ikonen/höjden */
		background: #333; /* Färgen på burgarmeny iconen */
		border-radius: 0.2em;
        display: flex;
        justify-content: center;
}       

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
		content: '';
}       

/* Top bar position */
.burger span:before {
		top: -8px;
}

/* Bottom bar position */
.burger span:after {
		top: 8px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked + .burger:after {
		content: '';
}
/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
		height: 0;
		width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
		top: 6px; /* Hur många pixlar raderna i knappen flyttar sig vid */
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:before {
		-webkit-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:after {
		-webkit-transform: rotate(-225deg);
		-ms-transform: rotate(225deg);
		transform: rotate(-225deg);
}

/*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
span.boo {
		width: auto;
		margin-top: 0;
		line-height: 60px;
		height: 0;
		overflow: hidden;
}

/* Reveals Boo! (IE9 or higher) */
#main-nav-test:checked ~ .boo {
		height: 50px;
}

/*==============================================================================
 Simple mobile menu opening and closing (IE9 or higher)
==============================================================================*/

.a-header {
		position: relative; /* Håller kvar knappen på rätt ställe*/
		float: left;
		width: 100%; /* Anger storleken på headerns bredd, fältet där texten, innehållet ska finnas*/
		margin: 0;
		min-height: 50px;

        background:  rgb(46,204,113); /* färgen på bakgrunden där burger boxen sitter */

		overflow: hidden;
        
}

.a-header ul {
		position: relative;
		float: left;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0; /* Hur långt innehållet, textfälten kommer upp ifrån vänster kant.  */
}       

.a-header ul a {
		position: relative;
		float: left; /* Radar upp innehåll, går inte att tas bort */
		width: 100%; /*  Bredden på innehållet i menyn, texten */
		height: 0;
		line-height: 50px;
		padding: 0 15px;
		text-decoration: none;
		overflow: hidden;
		color: rgb(255, 255, 255); /* Färgen på texten i menyn som kommer upp */
		text-align: center; /* Bestämmer hur texten ska radas upp i menyn */
        
}

.a-header ul a:hover,
.a-header ul a:active,
.a-header ul a:focus,
.a-header ul a:visited {
		text-decoration: solid;
		background: rgb(74, 202, 128); /* Färgen när man hovrar över texten (på dator) på telefon när man håller in fingret på en av texterna */
		border-bottom-color: #08c;
}       

/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
#main-nav:checked ~ ul a {
	height: 50px; /* Mellanrummet, storleken imellan textfälten */
    border:0.1px solid black; /* Kantstorlek runt texten för att lättare urskilja dem. */
}   


.backbutton {                         /* Tillbaka knappen */
    color: #ffffff !important;
    background-color: #db545a !important;
    pointer-events: auto;

    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 44px auto 60px;
    padding: 18px 49px;
    display: block;
    border-bottom: none;
    text-align: center;
    box-sizing: border-box;
    max-width: 50%;
}

.btn {                            /* Stora knapparna (tävlingsknappar) */
    pointer-events: auto;
    pointer-events: initial;
    margin-left: 0;
    margin-right: 0;
    border-style: none;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0;
    padding: 22px 50px 22px 50px;
    color: #ffffff !important;
    background-color: #4EA21D !important;
    display: block;
    width: 65%;
    border-bottom: none;
    text-align: center;
}

.footer { /* Bottendelen pÃ¥ varje sida  */
   position: relative;
    padding: 1rem;
    background-color: rgb(64, 59, 59);
    color: white;
    text-align: center;
    bottom: 0;
   
}

.textbox {                  /* text ruta till tävlingssidan */
	background : linear-gradient(to top, 
                    rgba(217,217,217, 0), 
                    rgba(217,217,217, 0.5) 90%);
	border-radius: 15px;
	padding: 50px;
	padding-left: 0;
	padding-right: 0; 
	margin: 10px;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
	display: block;
	max-width: 100%;

}

.openHours{
    text-align: center;
}


.iframecss {
	width: 80%;
	height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.mainMenu{
	height: 178px;

}
#sponsor{
    background: 	rgba(46,204,113);
    padding: 5px;


}
.openDate{
    text-align: center;
}

